body {
  background-color: black;
  color: red;
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
  font-family: 'EB Garamond', serif;
  style-font: sans-serif;
  color: red;
  text-align: center;
  font-style: sans-serif;
  text-align: center;
}
